/*
 * General
 */

body {
/*  font-size: 110%; */
    font-family: "Liberation Serif";
}

/* no text decoration for links */
a:link, a:visited {
    text-decoration: none;
}

/* only for snapshots */
a:visited {
    color: #0000EE;
}

hr {
    border-collapse: collapse;
    border: 1px dotted black;
}

/* highlight the target of a link */
div:target {
    color: black;
    border: 2px solid red;
}
*:target {
    color: red;
}

/* general purpose box */
.box {
    margin: 1%;
    padding: 1%;
    width: 96%; /*100 - 2*(padding + margin)*/
/*  float: center;
    position: relative;
    display: inline-block;*/
    border: 1px solid gray;
}

div.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  border: none;
}

th.rotate > div {
  transform: 
    /* Magic Numbers, the x is width-50px */
    translate(10px, 41px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 60px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.symname {
    font-family: courier;
    font-size: 105%;
    padding: 5px;
}

.pkgname {
    font-style: italic;
    padding-right: 2px;
}


tr.alternating:nth-child(even){background-color: #f2f2f2}
td.tabheader {padding: 10px;}
tr.tabheader {
    font-family: courier;
    font-weight: bold;
}

table.argsinbinding tr td {
    vertical-align: top;
}

table.arglist {
    table-layout:fixed;
    border-collapse: collapse;
}
.parname {font-family: courier;}
.separee {
    width: 2em;
    text-align: center;
}
td.argname {
    font-family: courier; /*monospace;*/
/*  width: 250px;
    padding-left:15px; */
}
td.api_symbol {
    width: 400px;
/*  font-size: 130%;*/
    font-family: courier;
    padding-left: 15px;
}
td.intent {
    width:100px;
    font-style: italic;
    font-family: times;
    text-align: center;
}
td.vtype {
/*  width:400px; */
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-style: oblique;
    font-family: courier;
}
.sign_retval {
    width: 20em;
    text-align: right;
/*  display:inline;*/
    padding-right:10px;
    font-style: oblique;
}
td.misc_attrs {
  /*width:100px;
    padding-right:15px;*/
    font-family: courier;
}

table.argdescrheading {
/*  table-layout:fixed; */
}
dl.argsdescr {
/*  padding:10px;*/
}
.argname {
    font-family: courier;
}
dd.argdescr {
    padding-bottom:15px;
    font-family: times;
}

.apiness {
    color: green;
    font-weight: bold;
    padding-left: 1em;
}
td.sign_prefix {
    width: 10em;
    text-align: right;
    padding-right:10px;
    display: block;
}

a.api_symbol {
/*  font-size: 100%; */
    font-family: courier;
}
a.other_symbol {
/*  font-size: 80%;*/
    font-family: monospace;
}

ul.nobullet {
    list-style-type: none;
}
ul.nobullet_noindent {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.index_title {
    color:purple;
}

.menu {
    padding: 15px;
}
.menu li {
    display:inline-block;
    background-color: lightgrey;
    color: white;
    font-size: 150%;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
.horizontal {
    padding: 15px;
}
.horizontal li {
    display:inline;
    padding: 0px 5px;
}

ul.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey; /*#333;*/
}
ul.navlist li {
    float: left;
    border-right: 2px solid white;
}
ul.navlist li:nth-last-child(2) {
    float: right;
    border-right: none;
}
ul.navlist li:last-child {
    float: right;
}

ul.navlist li a {
    display: block;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

ul.navlist li a.active {
    color: white;
    background-color: #4CAF50;
}

ul.navlist li a:hover:not(.active) {
    color: white;
    background-color: #111;
}


.ellipsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsed_arglist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "... )";
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #CCCCFF;
/*  color: #fff; */
    text-align: center;
    padding: 4px 1em;
    border-radius: 4px;
    border: 1px solid black;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -4px; /*this must be minus the padding above...*/
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*
 * CSS3 multiple columns.
 */
/* Get em size for colums: 184/16 */
.columns
{        
    -moz-column-width:    20.5em; /* Firefox */
    -webkit-column-width: 20.5em; /* webkit, Safari, Chrome */
    column-width:         20.5em;
    padding-bottom: 20px;
}           
/*remove standard list and bullet formatting from ul*/
.columns ul 
{           
    margin: 0;
    padding: 0;
    list-style-type: none;
}    
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}

.linkbox {
  width: 25em;
/*height: 12.5em;*/
  background: #f7f7f0;
  border: 1px solid gray;
  padding: 0.5em;
  margin: 1em;
  font-size: 80%;
  display: inline-block;
}
.linkbox h2 {
  margin: 0 0 0.5em 0;
}
.linkbox p {
  margin: 0.5em;
}
#flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:         row wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}

ol.autonumb {
  counter-reset: item;
  list-style-type: none;
/*margin: 0;
  padding: 0;*/
}

ol.autonumb > li {
  counter-increment: item;
  margin-bottom: 0.6em;
/*display: table;*/
}

ol.autonumb > li:before {
  content: counters(item, ".") ". ";
  padding-right: 0.6em;
/*display: table-cell;*/
}

img.logo {
    margin-left: 30px;
    width: 100px;
    object-fit: contain;
    float: right;
    border:0;
}

div.wideautoheightbanner {
    position: absolute;
    top:    0px;
    width:  99%;
    height: 16%; /* the `height' */
}
iframe.wideautoheight {
    position: absolute;
    top:    16%; /* is the `height' of the above class */
    width:  99%;
    height: 84%; /* 100% - top */
    border: none;
}

.clearfix {
    clear: both;
}

.togglevis {
    margin: 0px;
    display: none;
    font-family: monospace;
/*  height: 6em; */
    max-height: 6em;
    object-fit: contain;
    overflow-y:auto;
    border: 1px solid gray;
}

table.ranking {
    border: 0;
    border-collapse: collapse;
    display: inline-block;
}
table.ranking tr td { padding: 5px 10px; }
table.ranking tr td:last-child { float: right; }
table.ranking { padding-bottom: 20px; }

table.mostly_used_table { border-collapse: collapse; }
table.mostly_used_table tr.mostly_used_table_row { border-bottom: 2px solid gray; }
table.mostly_used_table tr.mostly_used_table_row > td { padding-left: 20px; vertical-align: top;}

a.dropbtn {
    display: inline-block;
    text-align: center;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

a.external_href[href^="http://"]:after, 
a.external_href[href^="https://"]:after{
  content:
    " (" attr(href) url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png) ")";
}

a.my_tools{
    font-family: monospace;
}
a.my_tools:after{
    font-size:0.9em;
    font-weight:normal;
}

b.back_to_top{
    font-family: monospace;
}

div.toplink{ float: right; }

input.qsearch_text{ width:150px; }
